:root {
  --base-size: 0.25rem;
}

.tricolumn {
  display: grid;
  grid-template-columns: subgrid;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.section {
  font-size: 12px;
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.section__body {
  border: solid 1px black;
}

.section__title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 0.25rem;
  border: solid 1px black;
}
