.dpjp-signature__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.25rem;
    padding-block: 0.5rem;

    & img {
      height: 200px;
      width: 200px;
    }

    & div {
      font-weight: bold;
      text-align: center;
    }
  }
}
