.radiologi-gambar-list {
  display: grid;
  margin-top: 0.26rem;
  grid-template-columns: auto auto auto auto 1fr;
}

.radiologi-gambar-list__title {
  grid-column: 1/2;
  grid-row-start: 1;
  grid-row-end: var(--row-length);

  border: black solid 1px;
  padding: 0.25rem;

  margin-right: 0.25rem;
  writing-mode: sideways-lr;
  text-align: center;
}

.radiologi-gambar-list__item {
  grid-column: 2/6;

  display: grid;
  grid-template-columns: subgrid;

  border: black solid 1px;
  counter-reset: num;
}

.radiologi-gambar {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: subgrid;

  break-inside: avoid;

  &::before {
    grid-column: 1/2;
    grid-row: 1/5;
    content: counter(num) ".";
    counter-increment: num;

    border-right: 1px solid black;

    font-weight: bold;
    padding-inline: 0.25rem;
  }

  & .tricolumn,
  & .radiologi-gambar__gambar-title {
    padding-inline: 0.25rem;
  }

  & .tricolumn {
    gap: 0 1rem;
  }

  & .tricolumn,
  & .radiologi-gambar__gambar {
    grid-column: 2/5;
  }

  & .radiologi-gambar__gambar {
    & .radiologi-gambar__gambar-title {
      border-top: solid 1px black;
      border-bottom: solid 1px black;
    }
    & .radiologi-gambar__gambar-body {
      font-size: 10px;
      display: grid;
      white-space: pre-wrap;
      grid-template-columns: auto auto 1fr;
      & img {
        margin-inline: auto;
      }

      & img {
        @media print {
          max-height: 200mm;
        }
      }
    }
  }
}
